body {
  background-color: #212121;
  color: #EEEEEE;
}

.nav h1 {
  color: #FAFAFA;
}

.sidebar-header {
  border-bottom: 1px solid #424242;
}

.sidebar-header h1 {
  color: #BDBDBD;
}

.tag-add-button {
  color: #BDBDBD;
}

.tag-add-button:hover {
  color: #FAFAFA;
}

.fa-li {
  color: #BDBDBD;
}

.card {
  background-color: #303030;
}

.card h2 {
  color: #BDBDBD;
}

.modal-content {
    background-color: #212121;
}
