body {
  background-color: #FAFAFA;
  color: #212121;
}

.nav h1 {
  color: white;
}

.sidebar-header {
  border-bottom: 1px solid #E0E0E0;
}

.sidebar-header h1 {
  color: #757575;
}

.folder-add-button {
  color: #757575;
}

.folder-add-button:hover {
  color: #212121;
}

.fa-li {
  color: #757575;
}

.card {
  background-color: #F5F5F5;
}

.card h2 {
  color: #757575;
}

.modal-content {
    background-color: #FAFAFA;
}
